html,
body {
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
}
.tool-bar{
    height: 67px;
    background-color: springgreen;
}

.tools{
    display: flex;
    justify-content: center;
    height: 100%;
}
.tool{
    height: 80%;
    /* aspect ratio  */
    position: relative;
}
.tool-img{
    height: 100%;
    width: 45px;
}
.tool-options{
    height: 5rem;
    background-color: yellow;
    position: absolute;
    left: -46px;
    width: 119px;
    top: 71px;
    display: none;
}
.size-container{
    height: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="range"]{
    width:80%;
}
.color-pallet{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.red{
    height: 70%;
    background-color: red;
    width: 24%;
    border-radius: 50%;
}
.blue{
    height: 70%;
    background-color: blue;
    width: 24%;
    /* to make div circular */
    border-radius: 50%;
}
.green{
    height: 70%;
    background-color: green;
    width: 24%;
    border-radius: 50%;
}

.show{
    display: block;
}

/* sticky pad */
.sticky-pad{
    position: absolute;
    top: 40vh;
    left: 42vw;
    height: 12rem;
    width: 11rem;
    
    border-radius: 6px;
}
.navbar{
    height: 20%;
    background: #f39c12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}
.close{
    height: 65%;
    background: red;
    width: 16%;
    border-radius: 50%;
    margin-right: 3px;
}
.minimize{
    height: 65%;
    background: #2ecc71;
    width: 16%;
    border-radius: 50%;
    margin-right: 3px;
}
.textbox {
    height: 80%;
    background-color: #FFC312;
}
.textbox textarea{
    height: 100%;
    width: 100%;
    background: inherit;
}